/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.header h2 {
	color: drakgreen;
	margin: 10px;
	float: left;
	text-align: right;
	
}

.header ul li a{
	display: inline-block;
	float: right;
	margin: 10px;
	text-decoration: none;
	color: greenyellow;
}

.header ul li a:hover {
	text-decoration: none;
	color: white;
	background-color: black;

}

.beranda{
	width: 300px;
	margin-top: 100px ;
	float: left;
	margin-bottom: 20px;
	color: limegreen;
	font-size: 55px;
	box-sizing: border-box;
	font-weight: bold;

	}


.hero {
	margin: 150px auto;
	padding: 0px 80px 0px 0px;
	float: right;
	box-sizing: border-box;

}
.hero img{
	width: 300px;
	height: 300px;
	padding: 0px 0px 0px 0px;
	border-radius: 50%;
	box-sizing: border-box;

}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 300px) {
   .container { 
	color: whitesmoke;
	font: 20px/24px arial arial, sans-serif;
	background-image: url(aset/beranda.jpg);
	background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden; 
	}
	.beranda{
	width: 400px;
	margin: 100px 15px 35px 15px;
	color: limegreen;
	font-size: 36px;
	line-height: 36px;
	float: none;
	
	}
	.header {
	font-size: 12px;
	margin: 5px;
	
	}
	.profil{
		width: 100%;
		height: 100%;
	}
	.hero {
		padding: 5px;
		float: none;
		margin-bottom: 40px;
		margin: 56px 0px 20px 0px ;
	}
	.hero img{
	margin-bottom: 80px;
	margin: 56px 45px 20px 45px ;

	}



}


@media only screen and (min-width: 680px) {
  .container {
	width: 1352px;
	height: 680px;
	color: whitesmoke;
	font: 20px/24px arial arial, sans-serif;;
	background-image: url(aset/beranda.jpg);
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
	}
	.beranda{
	width: 780px;
	margin-top: 160px ;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	color: limegreen;
	font-size: 55px;
	box-sizing: border-box;
	font-weight: bold;
	line-height: 55px;

	}
	.header {
	font-size: 20px;
	margin: 10px;
	
	}
	.hero {
	margin: 150px auto;
	padding: 0px 80px 0px 0px;
	float: right;
	

	}
	.hero img{
		margin-bottom: 100px;
	}


}







/*clear float*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}